.new-contact{
position:fixed;
  display:inline-block;
  width:11rem;
}
.contacts{
  width:78%;
  float:right;

}
.contact-title{
  text-align:center;
  color:white;
  border-bottom:2px solid white;
}
ul{
  width:100%;
}
li{
  background:linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  border:2px solid white;
  border-radius:22px;
  padding:1rem;
  margin-right:1rem;
  width:25%;
  display:inline-block;
  transition:all .3s;
  &:hover{
    transform:scale(1.1);
  }
  img{
    width:5rem;
  }
  .name{
  float:right;
  color:white;
  }
.fa{
  margin-right:5px;
}
}
